.place__title {
     font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
   margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 460px;
    padding-right: 40px;
    width: 50%;
 
  }
  @media screen and (max-width: 1024px) {
    .place__title {
      min-width: 440px;
      padding-right: 32px;
      width: 50%;
  
        }
  }
  @media screen and (max-width: 768px) {
    .place__title {
    min-width: 340px;
      padding-right: 0;
      font-size: 42px;
      line-height: 46px;
       }
  }
  @media screen and (max-width: 320px) {
    .place__title {
     min-width: 288px;
      padding-right: 0px;
      font-size: 32px;
      line-height: 35px;
      padding-bottom: 32px;
      padding-left: 16px;
    }
  }