.photo-grid {
  
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    gap: 16px;
     margin: 0;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1184px;
  }
  @media screen and (max-width: 1024px) {
    .photo-grid {
      gap: 14px;
     max-width: 928px;
     padding-right: 48px;
     grid-template-columns: repeat(auto-fill, 300px); 
        }
  }
  @media screen and (max-width: 768px) {
    .photo-grid {
      padding-left: 24px;
      padding-top: 88px;
      padding-right: 24px;
    max-width: 720px;
    grid-template-columns: repeat(auto-fill, 352px);
       }
  }
  @media screen and (max-width: 320px) {
    .photo-grid {
      padding-left: 16px;
    padding-top: 64px;
    gap: 12px;
    padding-right: 16px;
    min-width: 288px;
    padding-bottom: 64px;
    max-height: 2724px;
    }
  }
       