.places {
    padding-left: 148px;
    display: grid;
     grid-row-gap: 80px;
     max-height: 3392px;
     padding-bottom: 98px;
   
  }
  @media screen and (max-width: 1024px) {
    .places {
        padding-left: 48px;
        padding-bottom: 92px;
        max-height: 3292px;
        }
  }
  @media screen and (max-width: 768px) {
    .places {
      padding-left: 24px;
      padding-right: 24px;
      grid-row-gap: 73px;
 max-height: 2808px;
 padding-bottom: 90px;
       }
  }
  @media screen and (max-width: 320px) {
    .places {
     padding: 0;
      grid-row-gap: 24px;
      max-height: 5177px;
    }
  }