.lead {
    padding-left: 48px;
    display: flex;
    flex-direction: column;
}

  @media screen and (max-width: 768px) {
    .lead {
        padding-left: 0;
       
    }
  }
  @media screen and (max-width: 320px) {
    .lead {
        padding-left: 0;
       
    }
  
  }