.intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 148px;
    padding-top: 92px;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
             
        }
  }
  @media screen and (max-width: 768px) {
    .intro {
      padding-left: 24px;
     padding-right: 24px;
 padding-top: 0;
       }
  }
  @media screen and (max-width: 320px) {
    .intro {
      padding-left: 16px;
     max-width: 288px;
  min-height: 100%;
  
      
    }
  }
