.photo-grid__item {
object-fit: cover;
 background-size: cover;
  /*max-width: 100%;
   max-height: 100%;*/
}
@media screen and (max-width: 1024px) {
   .photo-grid__item {
     height: 225px;
    width: 300px;
    
     
       }
 }
 @media screen and (max-width: 768px) {
   .photo-grid__item {
    
     height: 264px;
     width: 352px;
    }
      }
 
 @media screen and (max-width: 320px) {
   .photo-grid__item {
     width: 288px;
   height: 216px;
     
   }
 }