.footer__link-item {
    padding-right: 18px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration:none;
    color: #FFFFFF;
  }
  .footer__link-item::nth-child(4n) {
    margin-right: 0;
    
  }
  .footer__link-item:hover {
    opacity: .8;
  }
  
  
  @media screen and (max-width: 320px) {
    .footer__link-item {
        padding-bottom: 32px;
        padding-right: 0;
        font-size: 24px;
        line-height: 24px;
    }
  }