.header__link {
  padding-top: 50px;
  margin: 0;
  padding-right: 18px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
}
@media screen and (max-width: 1024px){
  .header__logo {
   padding-right: 675px;
}
} 
@media screen and (max-width: 768px){
  .header__logo {
   padding-right: 467px;
}
}   
@media screen and (max-width: 320px) {
  .header__link {
    padding-top: 30px;
   padding-right: 16px;
    font-size: 18px;
    line-height: 20px;    
  
}
}