.lead__title {
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 56px;
    padding-left: 232px;
    padding-right: 280px;
    color: #FFFF;
    width: 720px;
    height: 200px;
    margin: 0;
    }
    @media screen and (max-width: 1024px) {
        .lead__title {
             padding-top: 48px;
            padding-left: 104px;
            padding-right: 152px;
            
            }
      }
      @media screen and (max-width: 768px) {
        .lead__title {
            padding-top: 48px;
           padding-left: 24px;
           padding-right: 24px;
           
           }
      }
      @media screen and (max-width: 320px) {
        .lead__title {
            padding-top: 48px;
           padding-left: 16px;
           padding-right: 16px;
            font-size: 40px;
             line-height: 44px;
             width: 288px;
             height: 88px;
            }
      }