.footer__copyright {
    font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
   margin: 0;
  padding-left: 530px;
  min-width: 186px;
  }
  @media screen and (max-width: 1024px) {
    .footer__copyright {
       padding-left: 277px;
        }
  }
  @media screen and (max-width: 768px) {
    .footer__copyright {
       padding-left: 69px;
  
       }
  }
  @media screen and (max-width: 320px) {
    .footer__copyright {
        padding-left: 0;
      
        line-height: 14px;
        text-align: start;
      
    }
  }