@font-face {
    font-family: 'Inter';
     font-display: swap;
    src: url(../fonts/Inter-Black.woff2) format('woff2'),
         url(../fonts/Inter-Black.woff) format('woff'),
         url(../fonts/Inter-Black.ttf) format('truetype'),
         url(../fonts/Inter-Black.otf) format('opentype');
  }
  @font-face {
    font-family: 'Inter';
     font-display: swap;
     font-style: bold;
    src: url(../fonts/Inter-Bold.woff2) format('woff2'),
         url(../fonts/Inter-Bold.woff) format('woff'),
         url(../fonts/Inter-Bold.ttf) format('truetype'),
         url(../fonts/Inter-Bold.otf) format('opentype');

  }
  @font-face {
    font-family: 'Inter';
     font-display: swap;
     font-weight: normal;
    src: url(../fonts/Inter-Regular.woff2) format('woff2'),
         url(../fonts/Inter-Regular.woff) format('woff'),
         url(../fonts/Inter-Regular.ttf) format('truetype'),
         url(../fonts/Inter-Regular.otf) format('opentype');

  }