@font-face {
	src: url('../fonts/Inter-Black.woff');
    src: url('../fonts/Inter-Black.woff2');
    font-style: black;
	font-family: 'Inter';
}
@font-face {
	src: url('../fonts/Inter-Bold.woff');
    src: url('../fonts/Inter-Bold.woff2');
	font-family: 'Inter';
	font-style: bold;
}
@font-face {
	src: url('../fonts/Inter-Regular.woff');
    src: url('../fonts/Inter-Regular.woff2');
	font-family: 'Inter';
	font-weight: normal;
}