.root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.42;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -mos-osx-font-smoothing: grayscale;
    margin: 0;
  
    }