.cover {
   
    padding-left: 48px;
    padding-right: 48px;
  }
  @media screen and (max-width: 1024px) {
    .cover {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
        }
  }
  @media screen and (max-width: 768px) {
    .cover {
      
      padding-left: 0;
      padding-right: 0;
  
       }
  }
  @media screen and (max-width: 320px) {
    .cover {
      padding-top: 66px;
      padding-left: 0;
      padding-right: 0;
      
    }
  }