.place__link {
  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
    }
    .place__link:hover {
        opacity: .8;
      }
      