.cover__overlay {
     display: block;
     object-fit: cover;
    position: relative;
    background: #2A2C2F;
     height: 740px;
    opacity: .7;
    z-index: 2;
  }
  .cover__overlay:hover {
    background: #2A2C2F;
    opacity: .2;
    z-index: 2;
  } 
  @media screen and (max-width: 1024px) {
    .cover__overlay {
      height: 640px;
        }
  }
  @media screen and (max-width: 768px) {
    .cover__overlay {
      height: 480px;
  
       }
  }
  @media screen and (max-width: 320px) {
    .cover__overlay {
      height: 200px;
      
    }
  }