.place__url-heading {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
    
    }
    