.place__website {
    display: flex;
    flex-direction: column;
   margin: 0;
   justify-content: flex-end;

   padding-left: 40px;
  }
  @media screen and (max-width: 1024px) {
    .place__website {
        padding-left: 32px;
        }
  }
  @media screen and (max-width: 768px) {
    .place__website {
        padding-left: 28px;
 
       }
  }
  @media screen and (max-width: 320px) {
    .place__website {
        padding-left: 16px;
      padding-bottom: 32px;
      width: 100%;
    }
  }