.intro__title {
     font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
     color: #FFFFFF;
    margin: 0;
    }
    
      @media screen and (max-width: 768px) {
        .intro__title {
          padding-top: 88px;
     
           }
      }
      @media screen and (max-width: 320px) {
        .intro__title {
             font-size: 32px;
             line-height: 35px;
             padding-top: 64px;
            
      
          
        }
      }